.spell__result{
   background-image: linear-gradient(rgb(20, 116, 194),rgb(170, 183, 204));
    padding: .4rem 1rem;
    margin-top: 1rem;
    justify-items: center;
    background-color: rgb(192, 192, 163);
}

.spell__result--content{
 color: rgb(12, 17, 15);
}