.spell__text{
    background-image: linear-gradient(rgb(100, 168, 223),rgb(255, 255, 255));
    align-items: center;
    padding: 1rem;
    margin-top: .3rem;
}



.spell__text--box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
  
}

.spell__text--box > span[status='inputed']{
    text-align: center;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin: auto 0.15rem;
    padding: auto 1rem;
    color: white;
     background-color: rgb(253, 135, 0);
    border-radius: 3px;
}

.spell__text--box > span[status='input']{
    text-align: center;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin: auto 0.15rem;
    padding: auto 1rem;
    color: white;
    background-color: rgb(241, 200, 172);
    border-radius: 3px;
}

.spell__text--box > span[status='hint']{
    text-align: center;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin: auto 0.15rem;
    padding: auto 1rem;
    color: rgb(255, 255, 255);
     background-color: rgb(224, 32, 18);
    border-radius: 3px;
}

.spell__text--input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem auto;
    margin-top: 6rem;
}

.spell__text--input > input{
    display: flex;
    margin: auto 0.3rem;
    padding: 0.6rem 0.6rem;
   font-size: 1.3rem;
   border: none;
   border-radius: 5px;
    
}
/* .spell__text--input > input:focus-visible{
     border: 1px solid rgb(235, 116, 36);
} */