.spell__button{
 display: flex;
 align-items: center;
 justify-items: center;
background-image: linear-gradient(rgb(170, 183, 204),rgb(20, 116, 194));
 margin-top: 1rem;
 padding: 1rem 1rem;
}

.spell__button--item{
    display: flex;
    margin: .5rem auto;
}

.btn{
    display: flex;
    padding: .15rem 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    margin: auto .7rem;
    border: 3px solid rgb(235, 116, 36);
    transition: .5s;
}

.btn:hover{
     background-color: rgb(235, 116, 36);
     color: white;
     cursor:pointer;
     border: 3px solid rgb(255, 255, 255);
}



.spell__button--play{
    padding: 1rem 3rem;
}

